*{
    margin: 0;
    padding: 0;
}

body {
   margin:0;
   padding: 0;
   font-family: 'Dosis', sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    z-index: 1;
    width: 100%;
}

.menu li{
    position: relative;
    top: 0;
    float: left;
    margin: 20px;
    list-style: none;
    text-transform: uppercase;
}

.menu__touch{
    display: none;
    list-style: none;
    font-size: 70px;
    text-decoration: none;
}

.menu li:hover{
    opacity: 0.6;
    transition: 1s;
}

.menu li a{
    text-decoration: none;
    color: dimgray;
}

.menu img{
    height: 35px;
    width: 90px;
}

.main__img{
    position: relative;
    top: 0;
    z-index: 0;
    background-image: url(img/main.jpg);
    background-size: 1300px;
    height: 650px;
    background-repeat: no-repeat;
    color: white;
}

.main__info{
    text-align: center;
    position: relative;
    top: 200px;
    letter-spacing: 0.6vh;
}

.main__img-tetle{
    text-transform: uppercase;
    font-size: 30px;
}

.main__img-text{
    font-size: 55px;
    font-weight: bolder;
}

.main__img-em{
    font-size: 30px;
}

.main__icon{
    text-align: center;
    position: absolute;
    top: 520px;
    left: 48%;
}

.main__a{
    color: white;
}

.main__a:hover{
    opacity: 0.5;
    transition: 1s;
}

div block{
    width: 100%;   
}

.block{
     margin: 80px;
     text-align: center;
}

.block__text{
    color: dimgray;
    font-size: 2.4em;
}

.block__item{
    color: dimgray;
    font-size: 1em;
}


.black{
    display: flex;
    justify-content: space-around;
    background-image: url(img/bg-pattern.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}

.black__one{
    display: flex;
    color: white;
    margin-top: 100px;
}

.black__text{
    margin: 15px;
}

.black__text{
    font-size: 1em;
    text-transform: uppercase;
}

.projects{
    text-align: center;
    margin: 30px;
}

.projects__text{
    color: dimgray;
    font-size: 2em;
}

.projects__item{
    font-weight: lighter;
    line-height: 28px;
    color: dimgray;
    font-size: 1em;
}

.hover{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.hover a{
    margin: 20px; 
}

.hover__block{
  background:url(img/pic.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 350px;
  height: 300px;
  position: relative;
}

.hover__block:hover .hover__overlay {
  opacity: 1;
  visibility: visible;
}

.hover__block:hover .hover__block-text {
  opacity: 1;
  visibility: visible;
  transform: scale(0.8);
}

.hover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .2s linear;
  background-color: rgba(0, 0, 0, .5);
}

.hover__block-text {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
  transform: scale(0,1);
}

.hover__block-text p {
  position: relative;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.rev{
    text-align: center;
    background-image: url(img/bg-pattern.jpg);
    background-repeat: no-repeat;
    color: white;
}

.rev__1{
    margin-top: -50px;
}
.rev__text{
    font-size: 30px;
}

.rev__item{
    text-transform: uppercase;
}

blockquote{
    margin: 130px;
}

.blog{
    width: 100%;
    background-color: #fafafa;
    text-align: center;
    overflow: hidden;
}

.blog__text{
    font-size: 40px;
    font-weight: 900;
}

.blog__p{
    line-height: 28px;
    color: dimgray;
}

.blog__img{
    max-width: 400px;
    width: 100%;
    opacity: 0.85;
}

.blog__img:hover{
    opacity: 1;
    transition: 1s;
}

.blog__blog{
    display: inline-flex;
}

.blog__blog{
    display: block;
    margin: 10px;
    background-color: white;
    width: 100%;
}

.blog__p-text{
    text-align: left;
    background-color: #252525;
    color: white;
    padding: 5px 25px;
    opacity: 1;
    bottom: 65px;
    max-width: 50px;
    left: 15px;
    position: relative;
    text-align: center;
}

.blog__p-text:hover{
    opacity: 0.6;
    transition: 1s;
}

.blog__1{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    bottom: 50px;
    position: relative;
    left: 15px;

}

.blog__2{
    position: relative;
    bottom: 50px;
    text-align: left;
    left: 15px;

}

.img__slider{
    position:absolute;
    width: 100%;
    padding-left: 10px;    
}

.img__slider-item{
    width: 100%;
    position: relative;
    margin: 20px;
    bottom: 15px;
    
}

.box{
    text-align: center;
    display: block;
    background-color: #f2f2f2;
    padding-top: 30px;
}

.box__text{
    font-size: 2.6em;
    margin: 5px;
    font-weight: bold;
}

.box__txt{
    font-weight: lighter;
    line-height: 28px;
    color: dimgray; 
}

.art{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

.art__box{
    margin: 25px;
    background-color: white;
    width: 350px;
}

.img{
    background: url(img/art.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 350px;
    width: 100%;
}

.img:hover{
    opacity: 0.7;
    transition: 1s;
}

.art__box-category a{
    position: absolute;
    left: 30px;
    bottom: 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;  
    background-color: #252525;
    padding: 5.5px 15px;
    min-width: 90xp;
}

.art__box-category a:hover{
    opacity: 0.9;
    transition: 1s;
    background-color:#363434;
}

.art__box-main{
    margin: 10px;
}

.art__box-img {
    position: relative;
}
.art__box-title{
    font-weight: bolder;
    font-size: 25px;
}

.art__box-data{
    text-transform: uppercase;
}

.contact{
    background-color: #f6f6f6;
    width: 100%;
    height: auto;
}

.contact__item{
    display: flex;
    justify-content:center;
    padding: 60px;
}

.contact__form{
    margin: 40px;    
}

input{
    padding: 25px 40px;
    margin: 10px;
    background-color: white;
    border: none;
    outline: none;
}

.title{
    margin-top: 10px;
    width: 353px;
    outline: none;
}

.contact__form{
    display: block;
}

.contact__text{
    font-size: 40px;
}

.contact__p{
    line-height: 28px;
    color: dimgray;
    font-size: 15px;
}

.contact__address, .contact__phone, .contact__email, .contact__fax{
    color: dimgray;
}

span{
    font-weight: 900;
    color: black
}

.textarea{
    margin-top: 20px;
    margin-left: 10px;
    max-width: 353px;
}

.textarea__txt{
    border: none;
    padding: 25px 40px;
    outline: none;
}

.btn{
    padding: 20px 40px;
    border: 0;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background-color: dimgray;
    transition: all 1s;
}

button:focus {
    outline: none;
}

.footer{
    background-color: #ebebeb;
    width: 100%;
    height: 150px;
    margin: 0;
}

.footer__icon{
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.footer__icon i{
    margin: 5px;
    color: gray;
}

.footer__icon i:hover{
    color: black;
}

.footer__teams{
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;

}

.footer__teams a{
    text-transform: none;
}

.footer__a{
    color: gray;
}

.footer__a:hover{
    color: black;
}



/* Адаптив: START */

@media screen and (max-width:800px){

    .menu ul{
        display: none;
        position: absolute;
        top: 40px;
    }
    
    .menu li{
        background: white;
        padding: 5px;
        opacity: 0.8;
        border: 0.5px solid grey;
        margin: 13px;
    }
    
    .menu__touch{
        display: block;
        position: relative;
        top: -35px;
    }

}

@media screen and (max-width: 783px){
    
    .black__one{
        margin-left: 20px;
    }
    
    .title{
        width: 355px;
    }
    
     .rev__1{
        margin-top: -100px;
}
    
}

@media screen and (max-width: 768px) {

    .picture{
        height: 300px;
        display: flex;
        justify-content: center;
    }
    
    .picture__item{
        position: absolute;
    }
    
    i:hover{
        color: white;
        
    }
    
    .block, .projects{
        margin: 10px;
    }
    
    .black{
        display: block;
        height: 100%;
    }
    
    .black__one{
        padding: 20px;
        margin: 20px;
    }
    
    .hover{
        display: block;
    }
          
    .contact__item{
        display: block;
        margin-left: -20px;
    }
    
    .contact__form{
        margin-left: -10px;
    }
        
    .blog__menu{
        display: block;
    }
      
    .img__slider{
        display: flex;
    }
    

    .pic{
        padding-top: 50px;
    }
    

@media screen and (max-width: 495px){
    
    .rev{
        display: block;
        height: 250px;
    }
     
   .rev__text, .rev__item{
       font-size: 1em;
       text-align:center;
       position: relative;
       top: 40px;
    }
    
    blockquote{
        margin: 100px;  
    }
     
    .title{
        width: 260px;
    }
    
    .art{
        display: block;
    }
    
    
    .pic{
        display: block;
        padding: 20px;
        padding-bottom: 10px;
    }
    
    .pic__img{
        height: 200px;
        width: 300px;
    }
    
    .pic__one:hover .pic__one-item{
        width: 300px;
}
     
    .hover{
        display: block;  
        text-align: center;
    }
    
    
    .hover__block{
        width: 400px;
        height: 300px;
    }

}
    
@media screen and (max-width: 412px){
    
    .hover__block{
        width: 100%;
        }
    
    .img__slider{
        padding-left: 0;
    }
    
    
    .title{
        width: 270px;
    }
    }
    
    @media screen and (max-width: 375px){
        .art{
            width: auto 100%;
        }
        
        .art__box{
             position: relative;
            right: 25px;
            width: 350px;
        }
        
        .title{
            width: 230px;
        }
    }    
    
@media screen and (max-width: 360px){
      
    .art{
        position: relative;
        right: 30px;
        width: 370px;
    }
    
    .hover__block{
        width: auto 100%;
    }
    
    .title{
        width: 220px;
    }

    
    }

    
@media screen and (max-width: 335px){
        
    .picture{
        padding: 0px;
        padding-top: 100px;
    }
    
    .header{
        display: block;
    }
    
    .logo__item{
        margin-left: 40px;
    }
    
     .title{
        width: 150px;
    }
    
   blockquote
    {
        display: none;
    }
    
    .rev__1{
        display: none;
    }
    
    .projects{
        margin-left: 15px;
        margin: 30px;
    }  

    
@media screen and (max-width: 320px){
     
    .art{
        width: 330px;
    }
        .art__box{
        width: 310px;

    }  
    
}
    
    @media screen and (max-width: 240px){
        
        .main__img{
            height: 500px;
        }
        
        .main__info {
            padding: 0px;
            position: absolute;
            top: 100px;
        }
        
        .main__icon{
            position: absolute;
            top: 400px;
            left: 100px;
        }
        
        .main__img p, em{
            font-size: 30px;
        } 
        
        .hover__block{
            height: 200px;
        }
        
        .art{
            width: 250px;
        }
        
        .art__box{
            width: 93%;
            position: relative;
        right: 1px;
            
        }
        
        .form, .title{
            width: 90%;
        }
        
        .rev__1{
            padding-top: -50px;
        }
        
        
    }
/* Адаптив: END */
